{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-3 mb-3">
    <main class="w-100 m-auto" style="max-width: 500px;">
      <form action="{% url 'entrar' %}" method="POST" enctype="multipart/form-data">
        <label class="fw-bold col-form-label col-form-label-lg">Entre para continuar</label>
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-floating mb-1">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
        {% endfor %}
        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Entrar</button>
      </form>
    </main>
  </div>
{% endblock %}
